# Entorno y cachés
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.log

# Config locales / temporales
.env
*.env
.DS_Store
.vscode/
.idea/

# Django
db.sqlite3
media/
staticfiles/

# Tests / cobertura (opcional)
.pytest_cache/
.coverage
htmlcov/
